<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/estilos/AUTH/login.css">
  <link rel="icon" href="https://img.icons8.com/ios-glyphs/30/checked-user-male.png" type="image/x-icon" />
</head>
<body>
  <div class="container">
    <!-- Formulario de Login -->
    <div class="card">
      <h2 class="title">Iniciar sesión</h2>

      <% if (typeof mensaje !== "undefined") { %>
        <p><%= mensaje %></p>
      <% } %>

      <form action="/codLogin" method="post">
        <label for="loginEmail">Usuario</label>
        <div class="input-group">
          <span>@</span>
          <input type="email" id="loginEmail" name="loginEmail" placeholder="Ex: abc@example.com" required />
        </div>

        <label for="loginPassword">Contraseña</label>
        <div class="input-group">
          <input type="password" id="loginPassword" name="loginPassword" placeholder="********" required />
        </div>
        <button type="button" class="forgot-password" onclick="mostrarCambio()">¿Olvidaste la contraseña?</button>

        <button type="submit" class="btn">Iniciar sesión</button>
      </form>

      <button id="gmailLoginBtn" class="gmail-btn" onclick="window.location.href='https://accounts.google.com/'">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png" 
             alt="Logo de Gmail" class="gmail-logo">
        <span>Iniciar con Gmail</span>
      </button>
    </div>

    <p class="text-center">¿No tienes una cuenta?</p>
    <a href="registro.html" class="register-btn">Registrarse</a>
  </div>
  <script src="/ITERA/home_cocina.js"></script>
</body>
</html>
